{
	auto_https disable_redirects
	admin off
}
http://:8080 {
	# log {
	#	output stdout
	#	format json
	# }

	root * ./dist

	@backend path /dung /bipolar /rankings /adf
	handle @backend {
		# log_append proxy_target http://localhost:8081
		reverse_proxy http://localhost:8081
	}

	@graph-gen path /graph-gen/*
	handle @graph-gen {
		uri strip_prefix /graph-gen
		reverse_proxy http://localhost:8082
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
